*{
    margin: 0;
}
body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    color: #9ca0a2;
    text-align: left;
    font-size: 12px;

}
.container-main{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.container-img {
    background-color: blueviolet;
    background-color: hsl(30, 38%, 92%);
    /* height: 400px;
    width: 267px; */
    /* width: 270px;
    height: 400px; */
    /* height: 405px; */
    height: 420px;
   
  }
  
  .imagen-responsiva {
    max-width: 100%; /* Establece el tamaño máximo de la imagen */
    height: auto; /* Establece la altura automáticamente según la proporción de la imagen */
    width: 100vw; /* Establece el ancho de la imagen en porcentaje del ancho de la pantalla */
    width: 270px;
    width: 280px;
    border-radius:  15px 50px 30px 5px;
    border-radius:   10px 0px 0px 10px;
}

.container-text{
    background-color: hsl(0, 0%, 100%);
    /* background-color: blue; */
    border-radius: 0px 10px 10px 0px;
    width: 270px;
    height: 405px;

    height: 420px;
    display: flex;
    /* gap: 50px; */
    
}
.format-text{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding: 1px 10px;
}

#product{
    
    letter-spacing: 0.5em;
}
.headers{
    padding: 0px 20px ;
}

.title{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding: 15px 0px;
}


.prices{
    display: flex;
  
}

.current{
    /* display: inline; */
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin: 0px 10px 0px 20px;
}

.before{
    /* display: inline; */
    font-size: 1rem;
    text-decoration: line-through;
    align-self: center ;

}
.button-car{
    background-color: hsl(158, 36%, 37%);
    text-align: center;
    color: white;
    border: none;
    font-size: 1rem; 
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    /* padding: 15px 60px; */
    padding: 15px 0px;
    margin: 0px 20px;
    

}
#img_car{
    margin-right: 5px;
}
button:hover {
    background-color: hsl(156,42%,18%);
    
  }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




@media (max-width: 537px){
   body{
    font-size: 1rem;
   }
    .container-main {
        /* display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; */
        flex-direction: column;
        justify-content:flex-start;
        height: 100%;
       
    }
    .imagen-responsiva{
        content: url("./images/image-product-mobile.jpg");
        width: 355px;
        border-radius: 10px 10px 0px 0px;
    }

    .container-img {
       
        margin-top: 10%;
        height: 248px;
      }
    .container-text{
    width: 357px;
    border-radius: 0px 0px 10px 10px;
    height: 460px;
      }
    .description{
        line-height: 2;
    }
    .format-text{
    padding: 0px 15px;
    justify-content: space-evenly;
    }
}